body{
  font-family: "Open Sans", sans-serif;
  font-size: 12pt;
  color: black;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  text-transform: uppercase;
  font-size: 16pt;
  margin-top: 30px;
  font-weight: 700;
  color: black;
  font-family: 'Lato', sans-serif;
}


h2,h3,h4,h5,h6 {
  font-size: 12pt;
  color: black;
  font-family: 'Montserrat', sans-serif;  
}

.info_container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  max-width: 1000px;
  display: flex;
}

.info_container__photo{
    flex: 0 0 40%;
    padding-right: 50px;
    max-width: 40%;
    margin-top: 130px;
    margin-bottom: 20px;
    font-size: 10pt;
    display: block;
    text-align: left;
    image-align: left;
    line-height: 1.5;
    float:left;
    flex-direction: column; 

}


.info_container__text {
    width: 80%;
    flex: 1;
    margin: auto;
    display: grid;
}

.info_container__name{
  font-weight: bold;
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Noto Sans", sans-serif;
}

.post_container{
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  max-width: 1000px;
  
}

.nowrap {
    white-space: nowrap; /* Prevents line break */
}

.post__title {
  font-size: 18px;
  text-transform: capitalize;
  color: black;
  font-family:  'Lato',sans-serif;  
  font-weight: 500;
  margin: 0; /* Removes default margin */
  flex: 1; /* Allows title to take up remaining space */
  background: none; /* Removes any background styling */
}

.post__subtitle {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 3px;
  /* font-family: 'Montserrat', sans-serif;  */
}


.toggle-button {
  margin: 0; /* Removes default margin */
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.toggle-button:hover {
  background-color: white; /* Darker blue on hover */
}

.post__description {
  margin: 10px;
  display: none; /* Initially hidden */
  font-size: 14px;
  font-weight: 400;
  color: #333;
  line-height: 1.4;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
}
    

